      <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav">
            <ul id="sidebarnav">

              <div id="menuLemon"></div>
              <div id="menuPastell"></div>

              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="{{ url_lien_documentation }}" target="_blank"
                  aria-expanded="false"
                  ><i class="fa fa-solid fa-book"></i>
                  <span class="hide-menu px-2">Documentation</span>
                </a>
              </li>
              
            </ul>
            
          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
        <!-- Bottom points-->
        <div class="sidebar-footer">
          <!-- item-->
          <a
            href="#"
            id="interactive_guid"
            class="link"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Besoin d'aide ?"
            ><i class="fa fa-solid fa-question-circle"></i></a>
          <!-- item-->
          <a
            href="/user/logout"
            class="link"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Se déconnecter"
            ><i class="fa fa-solid fa-power-off"></i></a>
        </div>
        <!-- End Bottom points-->
      </aside>
      
