    <aside> <!-- TODO : theme !! -->
      <div class="customizer">
        <a href="javascript:void(0)" class="service-panel-toggle"
          ><i class="fa fa-solid fa-lg fa-cogs"></i
        ></a>
        <div class="customizer-body">

            <a
              class="nav-link "
              aria-selected="true"
              ><h6 class="text-white text-uppercase d-flex align-items-center justify-content-center my-2">
              Personnaliser votre bureau Pléiade</h6></i
            ></a>
          <div>
            <div class="p-3 border-bottom">

              <div class="form-check mt-2">
                <input
                  type="checkbox"
                  name="theme-view"
                  class="form-check-input"
                  id="theme-view"
                />
                <label class="form-check-label" for="theme-view">
                  <span>Thème Sombre</span>
                </label>
              </div>
              <div class="form-check mt-2">
                <input
                  type="checkbox"
                  name="sidebar-position"
                  class="form-check-input"
                  id="sidebar-position"
                  
                />
                <label class="form-check-label" for="sidebar-position">
                  <span>Barre de menu fixe</span>
                </label>
              </div>
              <div class="form-check mt-2">
                <input
                  type="checkbox"
                  name="header-position"
                  class="form-check-input"
                  id="header-position"
                />
                <label class="form-check-label" for="header-position">
                  <span>En-tête fixe</span>
                </label>
              </div>
            </div>

          </div>
          <div class="nav-link" style="background: var(--global-color); color: #FFF!important;" aria-selected="true">
              <h6 class="text-white text-uppercase d-flex align-items-center justify-content-center my-2">
                  Ajouter vos application métiers
              </h6>
          </div>
          <div class="form-check p-3">
                <a href="/user/{{ userId }}/edit?scrollToField=true">
                
                  <span>Ajouter / Supprimer</span>
                  </a>
              </div>
        
        </div>
      </div>
      <a href="#" id='up_to_top' class="up_to_top d-flex align-items-center justify-content-center"
        ><i class="fa fa-solid fa-lg fa-arrow-up"></i
      ></a>

    </aside>
