     
      <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav">
            <ul id="sidebarnav">
            {% if menu_ecoll != 1 %}
              <div id="menuPastell"></div>
              
                <hr class="bg-white" style="height: 3px; background-color: #FFF!important;">
              <div id="menuLemon"></div>
              {{ urls_applications | raw }}
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="{{ url_lien_documentation }}"
                  aria-expanded="false"
                  ><i class="fa fa-solid fa-book"></i>
                  <span class="hide-menu px-2">Documentation</span>
                </a>
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="mailto:support@ecollectivites.fr"
                  aria-expanded="false"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="02.53.33.02.72 / support@ecollectivites.fr"
                  ><i class="fa fa-solid fa-envelope"></i>
                  <span class="hide-menu px-2">Besoin d'aide ?</span>
                </a>
              </li>
              {% else %}
             
              {# <div id="mes_applications" style="max-width: 270px;">
                
              </div> #}
                <div id="menuLemon">
                  <div class="mes_apps nav-small-cap has-arrow collapsed" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse3">
                    <i class="fa-solid fa-star"></i>
                    <span class="hide-menu">Mes Applications</span>
                  </div>
                  <ul>
                    <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="headingOne">
                      <div class="accordion-body">
                        {{ urls_applications | raw }}
                      </div>
                    </div>
                  </ul>
                </div>
                
              {% endif %}
              
            
          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
        <!-- Bottom points-->
        <div class="sidebar-footer">
          <!-- item-->
          
          <a
            href="#"
            id="interactive_guid"
            class="link"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Visite guidée"
            ><i class="fa fa-solid fa-question-circle"></i></a>
          
          <!-- item-->
          <a
            href="https://assistance.ecollectivites.fr"
            class="link"
            target="_blank"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Télécharger TeamWiewer"
            ><i class="fa fa-solid fa-headset"></i></a>
        </div>
        <!-- End Bottom points-->
      </aside>
      
