          <!-- Row -->
          
          <div class="row d-flex justify-content-center" id="dragZoneAllBlocks">
            
            <div class="col-8">
              <div class="card">
                <div>
                  <h4 class="card-header rounded-top card-title text-light" style="background-color: #1f3889">Messages récents</h4>
                  <div class="message-box scrollable" style="height: 476px">
                    <div class="message-widget message-scroll">
                      <!-- Message -->
                      <a
                        href="#"
                        class="d-flex align-items-center border-bottom p-3"
                      >
                        <div
                          class="
                            user-img
                            position-relative
                            d-inline-block
                            mr-0 mr-md-3
                          "
                        >
                          <img
                            src="https://demos.wrappixel.com/premium-admin-templates/bootstrap/monster-bootstrap/package/assets/images/users/1.jpg"
                            alt="user"
                            class="rounded-circle w-100"
                          />
                          <span
                            class="profile-status rounded-circle online"
                          ></span>
                        </div>
                        <div
                          class="
                            w-85
                            d-md-flex
                            align-items-center
                            v-middle
                            ps-3
                          "
                        >
                          <div class="w-85">
                            <h5 class="mb-0 mt-1 font-weight-medium">
                              Jean Dupont
                            </h5>
                            <span
                              class="
                                fs-3
                                text-nowrap
                                d-block
                                text-truncate
                                mail-desc
                                text-muted
                                fw-normal
                              "
                              >Lorem Ipsum is simply dummy text of the printing
                              and type setting industry. Lorem Ipsum has
                              been.</span
                            >
                          </div>
                          <span class="fs-2 text-nowrap ms-auto time fw-normal"
                            >9:30 AM</span
                          >
                        </div>
                      </a>
                      <!-- Message -->
                      <a
                        href="#"
                        class="d-flex align-items-center border-bottom p-3"
                      >
                        <div
                          class="
                            user-img
                            position-relative
                            d-inline-block
                            mr-0 mr-md-3
                          "
                        >
                          <img
                            src="https://demos.wrappixel.com/premium-admin-templates/bootstrap/monster-bootstrap/package/assets/images/users/2.jpg"
                            alt="user"
                            class="rounded-circle w-100"
                          />
                          <span
                            class="profile-status rounded-circle busy"
                          ></span>
                        </div>
                        <div
                          class="
                            w-85
                            d-md-flex
                            align-items-center
                            v-middle
                            ps-3
                          "
                        >
                          <div class="w-85">
                            <h5 class="mb-0 mt-1 font-weight-medium">
                              Sonia France
                            </h5>
                            <span
                              class="
                                fs-3
                                text-nowrap
                                d-block
                                text-truncate
                                mail-desc
                                text-muted
                                fw-normal
                              "
                              >RDV ce soir</span
                            >
                          </div>
                          <span class="fs-2 text-nowrap ms-auto time fw-normal"
                            >9:10 AM</span
                          >
                        </div>
                      </a>
                      <!-- Message -->
                      <a
                        href="#"
                        class="d-flex align-items-center border-bottom p-3"
                      >
                        <div
                          class="
                            user-img
                            position-relative
                            d-inline-block
                            mr-0 mr-md-3
                          "
                        >
                          <span
                            class="
                              round
                              bg-info
                              d-inline-block
                              text-white text-center
                              rounded-circle
                            "
                            >A</span
                          >
                          <span
                            class="profile-status rounded-circle away"
                          ></span>
                        </div>
                        <div
                          class="
                            w-85
                            d-md-flex
                            align-items-center
                            v-middle
                            ps-3
                          "
                        >
                          <div class="w-85">
                            <h5 class="mb-0 mt-1 font-weight-medium">
                              Charlotte Doiron
                            </h5>
                            <span
                              class="
                                fs-3
                                text-nowrap
                                d-block
                                text-truncate
                                mail-desc
                                text-muted
                                fw-normal
                              "
                              >Simply dummy text of the printing and typesetting
                              industry.</span
                            >
                          </div>
                          <span class="fs-2 text-nowrap ms-auto time fw-normal"
                            >9:08 AM</span
                          >
                        </div>
                      </a>
                      <!-- Message -->
                      <a
                        href="#"
                        class="d-flex align-items-center border-bottom p-3"
                      >
                        <div
                          class="
                            user-img
                            position-relative
                            d-inline-block
                            mr-0 mr-md-3
                          "
                        >
                          <img
                            src="https://demos.wrappixel.com/premium-admin-templates/bootstrap/monster-bootstrap/package/assets/images/users/4.jpg"
                            alt="user"
                            class="rounded-circle w-100"
                          />
                          <span
                            class="profile-status rounded-circle offline"
                          ></span>
                        </div>
                        <div
                          class="
                            w-85
                            d-md-flex
                            align-items-center
                            v-middle
                            ps-3
                          "
                        >
                          <div class="w-85">
                            <h5 class="mb-0 mt-1 font-weight-medium">
                              Jean Dupont
                            </h5>
                            <span
                              class="
                                fs-3
                                text-nowrap
                                d-block
                                text-truncate
                                mail-desc
                                text-muted
                                fw-normal
                              "
                              >Demandez à l'admin !</span
                            >
                          </div>
                          <span class="fs-2 text-nowrap ms-auto time fw-normal"
                            >9:02 AM</span
                          >
                        </div>
                      </a>
                      <!-- Message -->
                      <a
                        href="#"
                        class="d-flex align-items-center border-bottom p-3"
                      >
                        <div
                          class="
                            user-img
                            position-relative
                            d-inline-block
                            mr-0 mr-md-3
                          "
                        >
                          <img
                            src="https://demos.wrappixel.com/premium-admin-templates/bootstrap/monster-bootstrap/package/assets/images/users/1.jpg"
                            alt="user"
                            class="rounded-circle w-100"
                          />
                          <span
                            class="profile-status rounded-circle online"
                          ></span>
                        </div>
                        <div
                          class="
                            w-85
                            d-md-flex
                            align-items-center
                            v-middle
                            ps-3
                          "
                        >
                          <div class="w-85">
                            <h5 class="mb-0 mt-1 font-weight-medium">
                              Jean Dupont
                            </h5>
                            <span
                              class="
                                fs-3
                                text-nowrap
                                d-block
                                text-truncate
                                mail-desc
                                text-muted
                                fw-normal
                              "
                              >Bienvenue au SI</span
                            >
                          </div>
                          <span class="fs-2 text-nowrap ms-auto time fw-normal"
                            >9:30 AM</span
                          >
                        </div>
                      </a>
                      <!-- Message -->
                      <a
                        href="#"
                        class="d-flex align-items-center border-bottom p-3"
                      >
                        <div
                          class="
                            user-img
                            position-relative
                            d-inline-block
                            mr-0 mr-md-3
                          "
                        >
                          <img
                            src="https://demos.wrappixel.com/premium-admin-templates/bootstrap/monster-bootstrap/package/assets/images/users/2.jpg"
                            alt="user"
                            class="rounded-circle w-100"
                          />
                          <span
                            class="profile-status rounded-circle busy"
                          ></span>
                        </div>
                        <div
                          class="
                            w-85
                            d-md-flex
                            align-items-center
                            v-middle
                            ps-3
                          "
                        >
                          <div class="w-85">
                            <h5 class="mb-0 mt-1 font-weight-medium">
                              Dorian Marchand
                            </h5>
                            <span
                              class="
                                fs-3
                                text-nowrap
                                d-block
                                text-truncate
                                mail-desc
                                text-muted
                                fw-normal
                              "
                              >RDV sur le parking</span
                            >
                          </div>
                          <span class="fs-2 text-nowrap ms-auto time fw-normal"
                            >9:10 AM</span
                          >
                        </div>
                      </a>
                      <!-- Message -->
                      <a
                        href="#"
                        class="d-flex align-items-center border-bottom p-3"
                      >
                        <div
                          class="
                            user-img
                            position-relative
                            d-inline-block
                            mr-0 mr-md-3
                          "
                        >
                          <img
                            src="https://demos.wrappixel.com/premium-admin-templates/bootstrap/monster-bootstrap/package/assets/images/users/3.jpg"
                            alt="user"
                            class="rounded-circle w-100"
                          />
                          <span
                            class="profile-status rounded-circle away"
                          ></span>
                        </div>
                        <div
                          class="
                            w-85
                            d-md-flex
                            align-items-center
                            v-middle
                            ps-3
                          "
                        >
                          <div class="w-85">
                            <h5 class="mb-0 mt-1 font-weight-medium">
                              Annie Moreau
                            </h5>
                            <span
                              class="
                                fs-3
                                text-nowrap
                                d-block
                                text-truncate
                                mail-desc
                                text-muted
                                fw-normal
                              "
                              >Bien reçu !</span
                            >
                          </div>
                          <span class="fs-2 text-nowrap ms-auto time fw-normal"
                            >9:08 AM</span
                          >
                        </div>
                      </a>
                      <!-- Message -->
                      <a href="#" class="d-flex align-items-center p-3">
                        <div
                          class="
                            user-img
                            position-relative
                            d-inline-block
                            mr-0 mr-md-3
                          "
                        >
                          <img
                            src="https://demos.wrappixel.com/premium-admin-templates/bootstrap/monster-bootstrap/package/assets/images/users/4.jpg"
                            alt="user"
                            class="rounded-circle w-100"
                          />
                          <span
                            class="profile-status rounded-circle offline"
                          ></span>
                        </div>
                        <div
                          class="
                            w-85
                            d-md-flex
                            align-items-center
                            v-middle
                            ps-3
                          "
                        >
                          <div class="w-85">
                            <h5 class="mb-0 mt-1 font-weight-medium">
                              Jean Dupont
                            </h5>
                            <span
                              class="
                                fs-3
                                text-nowrap
                                d-block
                                text-truncate
                                mail-desc
                                text-muted
                                fw-normal
                              "
                              >On cherche un admin!</span
                            >
                          </div>
                          <span class="fs-2 text-nowrap ms-auto time fw-normal"
                            >9:02</span
                          >
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <div>
                  <div class="d-flex align-items-center card-header rounded-top card-title m-0" style="background-color: #1f3889">
                    <span class=" text-light ">Liste de tâches</span>
                    <div class="ms-auto">
                      <button
                        class="btn btn-sm btn-rounded btn-success"
                        data-bs-toggle="modal"
                        data-bs-target="#myModal"
                      >
                        Ajouter une tâche
                      </button>
                    </div>
                  </div>
                  <!-- .modal for add task -->
                  <div
                    class="modal fade"
                    id="myModal"
                    tabindex="-1"
                    role="dialog"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header d-flex align-items-center">
                          <h4 class="modal-title">Ajouter une tâche</h4>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="mb-3">
                              <label>Name</label>
                              <input
                                type="text"
                                class="form-control"
                                placeholder="Enter Your Name"
                              />
                            </div>
                            <div class="mb-3">
                              <label>Email address</label>
                              <input
                                type="email"
                                class="form-control"
                                placeholder="Enter email"
                              />
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Close
                          </button>
                          <button
                            type="button"
                            class="btn btn-success"
                            data-bs-dismiss="modal"
                          >
                            Submit
                          </button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                  <!-- ============================================================== -->
                  <!-- To do list widgets -->
                  <!-- ============================================================== -->
                  <div
                    class="to-do-widget mt-3 scrollable"
                    style="height: 444px"
                  >
                    <ul
                      class="list-task todo-list list-group mb-0"
                      data-role="tasklist"
                    >
                      <li
                        class="list-group-item border-0 mb-0 py-3 pe-3 ps-0"
                        data-role="task"
                      >
                        <div
                          class="
                            form-check
                            border-start border-2 border-info
                            ps-1
                          "
                        >
                          <input
                            type="checkbox"
                            class="form-check-input ms-2"
                            id="inputSchedule"
                            name="inputCheckboxesSchedule"
                          />
                          <label
                            for="inputSchedule"
                            class="form-check-label ps-2 fw-normal"
                          >
                            <span>Organiser réunion avec</span>
                          </label>
                        </div>
                        <ul class="assignedto list-inline m-0 ps-4 ms-3 mt-2">
                          <li class="list-inline-item">
                            <img
                              class="rounded-circle"
                              src="https://demos.wrappixel.com/premium-admin-templates/bootstrap/monster-bootstrap/package/assets/images/users/1.jpg"
                              alt="user"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title=""
                              data-original-title="Steave"
                            />
                          </li>
                          <li class="list-inline-item">
                            <img
                              class="rounded-circle"
                              src="https://demos.wrappixel.com/premium-admin-templates/bootstrap/monster-bootstrap/package/assets/images/users/2.jpg"
                              alt="user"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title=""
                              data-original-title="Jessica"
                            />
                          </li>
                          <li class="list-inline-item">
                            <img
                              class="rounded-circle"
                              src="https://demos.wrappixel.com/premium-admin-templates/bootstrap/monster-bootstrap/package/assets/images/users/3.jpg"
                              alt="user"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title=""
                              data-original-title="Priyanka"
                            />
                          </li>
                          <li class="list-inline-item">
                            <img
                              class="rounded-circle"
                              src="https://demos.wrappixel.com/premium-admin-templates/bootstrap/monster-bootstrap/package/assets/images/users/4.jpg"
                              alt="user"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title=""
                              data-original-title="Selina"
                            />
                          </li>
                        </ul>
                      </li>
                      <li
                        class="list-group-item border-0 mb-0 py-3 pe-3 ps-0"
                        data-role="task"
                      >
                        <div
                          class="
                            form-check
                            border-start border-2 border-danger
                            ps-1
                            d-flex
                          "
                        >
                          <input
                            type="checkbox"
                            class="form-check-input ms-2"
                            id="inputCall"
                            name="inputCheckboxesCall"
                          />
                          <label
                            for="inputCall"
                            class="form-check-label ps-2 fw-normal"
                          >
                            <span>Envoyer le rapport d'activités à</span>
                            <span class="badge bg-light-danger text-danger"
                              >Aujourd'hui</span
                            >
                          </label>
                        </div>
                        <ul class="assignedto list-inline m-0 ps-4 ms-3 mt-2">
                          <li class="list-inline-item">
                            <img
                              class="rounded-circle"
                              src="https://demos.wrappixel.com/premium-admin-templates/bootstrap/monster-bootstrap/package/assets/images/users/3.jpg"
                              alt="user"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title=""
                              data-original-title="Priyanka"
                            />
                          </li>
                          <li class="list-inline-item">
                            <img
                              class="rounded-circle"
                              src="https://demos.wrappixel.com/premium-admin-templates/bootstrap/monster-bootstrap/package/assets/images/users/4.jpg"
                              alt="user"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title=""
                              data-original-title="Selina"
                            />
                          </li>
                        </ul>
                      </li>
                      <li
                        class="list-group-item border-0 mb-0 py-3 pe-3 ps-0"
                        data-role="task"
                      >
                        <div
                          class="
                            form-check
                            border-start border-2 border-primary
                            ps-1
                          "
                        >
                          <input
                            type="checkbox"
                            class="form-check-input ms-2"
                            id="inputBook"
                            name="inputCheckboxesBook"
                          />
                          <label
                            for="inputBook"
                            class="form-check-label ps-2 fw-normal"
                          >
                            <span>Réserver l'hôtel pour Déclic</span>
                          </label>
                        </div>
                        <div
                          class="
                            item-date
                            fs-2
                            ps-4
                            ms-3
                            text-muted
                            d-inline-block
                          "
                        >
                          26 oct 2022
                        </div>
                      </li>
                      <li
                        class="list-group-item border-0 mb-0 py-3 pe-3 ps-0"
                        data-role="task"
                      >
                        <div
                          class="
                            form-check
                            border-start border-2 border-warning
                            ps-1
                          "
                        >
                          <input
                            type="checkbox"
                            class="form-check-input ms-2"
                            id="inputForward"
                            name="inputCheckboxesForward"
                          />
                          <label
                            for="inputForward"
                            class="form-check-label ps-2 fw-normal"
                          >
                            <span>Mettre à jour Github</span>
                            <span class="badge bg-light-warning text-warning"
                              >2 semaines</span
                            >
                          </label>
                        </div>
                        <div
                          class="
                            item-date
                            fs-2
                            ps-4
                            ms-3
                            text-muted
                            d-inline-block
                          "
                        >
                          26 oct 2022
                        </div>
                      </li>
                      <li
                        class="list-group-item border-0 mb-0 py-3 pe-3 ps-0"
                        data-role="task"
                      >
                        <div
                          class="
                            form-check
                            border-start border-2 border-primary
                            ps-1
                          "
                        >
                          <input
                            type="checkbox"
                            class="form-check-input ms-2"
                            id="inputRecieve"
                            name="inputCheckboxesRecieve"
                          />
                          <label
                            for="inputRecieve"
                            class="form-check-label ps-2 fw-normal"
                          >
                            <span>Commander bloc IPs </span>
                          </label>
                        </div>
                        <div
                          class="
                            item-date
                            fs-2
                            ps-4
                            ms-3
                            text-muted
                            d-inline-block
                          "
                        >
                          26 oct 2022
                        </div>
                      </li>
                      <li
                        class="list-group-item border-0 mb-0 py-3 pe-3 ps-0"
                        data-role="task"
                      >
                        <div
                          class="
                            form-check
                            border-start border-2 border-info
                            ps-1
                          "
                        >
                          <input
                            type="checkbox"
                            class="form-check-input ms-2"
                            id="inputpayment"
                            name="inputCheckboxespayment"
                          />
                          <label
                            for="inputpayment"
                            class="form-check-label ps-2 fw-normal"
                          >
                            <span>Send payment today</span>
                          </label>
                        </div>
                        <div
                          class="
                            item-date
                            fs-2
                            ps-4
                            ms-3
                            text-muted
                            d-inline-block
                          "
                        >
                          26 jun 2021
                        </div>
                      </li>
                      <li
                        class="list-group-item border-0 mb-0 py-3 pe-3 ps-0"
                        data-role="task"
                      >
                        <div
                          class="
                            form-check
                            border-start border-2 border-success
                            ps-1
                          "
                        >
                          <input
                            type="checkbox"
                            class="form-check-input ms-2"
                            id="inputForward2"
                            name="inputCheckboxesd"
                          />
                          <label
                            for="inputForward2"
                            class="form-check-label ps-2 fw-normal"
                          >
                            <span>Important tasks</span>
                            <span class="badge bg-light-success text-success"
                              >2 weeks</span
                            >
                          </label>
                        </div>
                        <ul class="assignedto list-inline m-0 ps-4 ms-3 mt-2">
                          <li class="list-inline-item">
                            <img
                              class="rounded-circle"
                              src="https://demos.wrappixel.com/premium-admin-templates/bootstrap/monster-bootstrap/package/assets/images/users/1.jpg"
                              alt="user"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title=""
                              data-original-title="Assign to Steave"
                            />
                          </li>
                          <li class="list-inline-item">
                            <img
                              class="rounded-circle"
                              src="https://demos.wrappixel.com/premium-admin-templates/bootstrap/monster-bootstrap/package/assets/images/users/2.jpg"
                              alt="user"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title=""
                              data-original-title="Assign to Jessica"
                            />
                          </li>
                          <li class="list-inline-item">
                            <img
                              class="rounded-circle"
                              src="https://demos.wrappixel.com/premium-admin-templates/bootstrap/monster-bootstrap/package/assets/images/users/4.jpg"
                              alt="user"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title=""
                              data-original-title="Assign to Selina"
                            />
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>