{# <div class="row d-flex justify-content-center" id="dragZoneAllBlocks">
  <div class="col-lg-12" id="pastell_block">
  <div class="mb-2 shadow-lg">
    <div class="card my-2">
      <div class="card-header rounded-top" style="background-color: #1f3889">
        <h4 class="card-title text-light">Télétransmission : Derniers documents <span></span></h4>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Titre</th>
              <th scope="col">Type</th>
              <th scope="col">Dernière modification</th>
              <th scope="col">Statut</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Compte rendu Réunion</td>
              <td>Acte</td>
              <td>22/11/2022</td>
              <td><span class="badge bg-success">Terminé</span></td>
              <td><a href="#">...</a></td>
            </tr>
            <tr>
              <td>Renouvellement Contrat</td>
              <td>Nextcloud</td>
              <td>22/11/2022</td>
              <td><span class="badge bg-warning">Modifié</span></td>
              <td><a href="#">...</a></td>
            </tr>
            <tr>
              <td>AG - MDC</td>
              <td>Acte</td>
              <td>22/11/2022</td>
              <td><span class="badge bg-info">En cours</span></td>
              <td><a href="#">...</a></td>
            </tr>
            <tr>
              <td>AG - MDC</td>
              <td>Acte</td>
              <td>22/11/2022</td>
              <td><span class="badge bg-info">En cours</span></td>
              <td><a href="#">...</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</div> #}
