
<form class="d-flex align-items-center" id="coll_choice">
  <select id="collectiviteChoice" class="w-75 form-select collectivitechoiceli">
    {# <option id="default" class="dropdown-item text-uppercase" value="0">Choisir la collectivité</option> #}
  </select> 
</form>
