
<form class="d-flex align-items-center">
  <select id="collectiviteChoice" class="form-select collectivitechoiceli">
    {# <option id="default" class="dropdown-item text-uppercase" value="0">Choisir la collectivité</option> #}
  </select> 
</form>