{# 
<li class="nav-item align-self-center">
  <div class="d-flex">
    <div class="dropdown me-2">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-bs-toggle="dropdown"
        data-bs-target="#collectiviteChoice"
        aria-expanded="false"
      >
        e-Collectivtés
      </button>
      <ul
        class="dropdown-menu collectivitechoiceli"
        aria-labelledby="dropdownMenuButton"
        id="collectiviteChoice"
      >
        
      </ul>
    </div>
  </div>
</li> #}
<form class="d-flex align-items-center">
  <select id="collectiviteChoice" class="form-select collectivitechoiceli">
    <option id="default" class="dropdown-item text-uppercase" value="0">Choisir la collectivité</option>
  </select> 
</form>