            {# <li
              class="nav-item
                col-md-7
                justify-content-end
                align-self-center
                d-none d-md-flex
              "
              > #}
              <li class="nav-item align-self-center">
              <div class="d-flex">
                <div class="dropdown me-2">
                  <button
                    class="btn btn-secondary dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    data-bs-toggle="dropdown"
                    data-bs-target="#droptest"
                    aria-expanded="false"
                  >
                    e-Collectivtés
                  </button>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                    id="droptest"
                  >
                    <li><a class="dropdown-item" href="#">e-Collectivtés RH</a></li>
                    <li><a class="dropdown-item" href="#">Formation</a></li>
                    <li><a class="dropdown-item" href="#">Collectivité Démo</a></li>
                  </ul>
                </div>
              </div>
            </li>