.path-nos-guides-utilisateurs .views-view-responsive-grid__item{
  height: 270px;
  max-height: 380px;
  border-radius: 15px;
  padding: 2em 0;
}
.path-nos-guides-utilisateurs .views-view-responsive-grid__item img{
  height: 150px!important;
  object-fit: contain;
  width: 100%;  
}

.path-nos-guides-utilisateurs .views-view-responsive-grid__item h5{
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-weight: 600; */
  font-size: large;
  height: 40px;
}
.path-nos-guides-utilisateurs .views-view-responsive-grid__item .hover_text{

opacity: 0;
position: absolute;
bottom: 20px;
left: 0;
background-color: #1f3889;
color: white;
font-size: larger;
padding: 0.5em 0;
width: 75%;
text-align: center;
box-sizing: border-box;
transition: opacity 0.1s ease, transform 0.1s ease;
transform: translateY(100%);
overflow: hidden;
border-bottom-right-radius: 15px;

}
.path-nos-guides-utilisateurs .views-view-responsive-grid__item:hover .hover_text, .hover_text:hover {
  
  opacity: 1;
  transform: translateY(0%);
}
.path-nos-guides-utilisateurs .views-view-responsive-grid__item .card-body p{

overflow: hidden;
border: unset;
max-height: 120px;
height: 120px;
}
.path-nos-guides-utilisateurs .views-view-responsive-grid__item h6{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.page-node-type-solutions .field__label{

font-weight: bold;
padding: 0.3em 0 0.3em 1em;
width: 100%;
border-bottom: 2px solid #1f3889;
color: #1f3889;
text-transform: uppercase;
margin: 1em 0;
}
.field--name-field-image-solution  .field__label{
  display: none;
}
[data-drupal-selector="views-exposed-form-nos-guides-utilisateurs-page-1"] .form--inline{
  display: flex;
  align-items: flex-end;
}
.field--name-field-introduction .field__label{
  width: 60%;
  float: right;
}
.views-view-responsive-grid{
  margin: 0 0 2em 0;
}