
:root {
  --global-color: #1f3889;
}
.path-nos-solutions .views-view-responsive-grid__item{
        height: 380px;
        max-height: 380px;
        border-radius: 15px;
        padding: 2em 0;
}
.path-nos-solutions .views-view-responsive-grid__item img{
        height: 150px!important;
        object-fit: cover;
        width: 100%;  
}

.path-nos-solutions .views-view-responsive-grid__item h5{
        display: flex;
        align-items: center;
        justify-content: center;
        /* font-weight: 600; */
        font-size: medium;
        height: 40px;
}

.path-nos-solutions .views-view-responsive-grid__item .hover_text{

    opacity: 0;
    position: absolute;
    bottom: 20px;
    left: 0;
    background-color: var(--global-color);
    color: white;
    font-size: larger;
    padding: 0.5em 0;
    width: 75%;
    text-align: center;
    box-sizing: border-box;
    transition: opacity 0.1s ease, transform 0.1s ease;
    transform: translateY(100%);
    overflow: hidden;
    border-bottom-right-radius: 15px;
    
}
.path-nos-solutions .views-view-responsive-grid__item:hover .hover_text, .hover_text:hover {
        
        opacity: 1;
        transform: translateY(0%);
}
.path-nos-solutions .views-view-responsive-grid__item .card-body p{

    overflow: hidden;
    border: unset;
    max-height: 120px;
    height: 120px;
}
.path-nos-solutions .views-view-responsive-grid__item:hover .card {
height: 380px;
}

.page-node-type-solutions .field__label{

font-weight: bold;
padding: 0.3em 0 0.3em 1em;
width: 100%;
border-bottom: 2px solid var(--global-color);
color: var(--global-color);
text-transform: uppercase;
margin: 1em 0;
}
.field--name-field-image-solution  .field__label{
        display: none;
}
[data-drupal-selector="views-exposed-form-nos-solutions-page-1"] {
        display: flex;
        align-items: flex-end;
}
.field--name-field-introduction .field__label{
        width: 60%;
        float: right;
}
.views-view-responsive-grid{
        margin: 0 0 2em 0;
}
.page-item.active .page-link{
        background-color: var(--global-color);
}
.path-nos-solutions .card-body.d-flex.flex-column
{
height: 230px;
}
.path-nos-solutions .js-form-item{
padding: 0 2em 0 0;
