
<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
{% include '@pleiadebv/templates/layout/parts/header.html.twig' %}
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->


<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
{% include '@pleiadebv/templates/layout/parts/left-sidebar.html.twig' %}
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Div pour message d'avertissement                               -->
  <!-- ============================================================== -->
  {% if message_enabled %}
  <div class="message_avertissement"></div>
  {% endif %}
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid" class="container-fluid">

    <!-- ================= Div pour message d'actus =============== -->
    {% if actu_enabled %}
      <div class="actualites"></div>
    {% endif %}
    <!-- ============================================================== -->
      
    
    <!-- ==================== Block Zimbra mails ================== -->
    {% if zimbra_enabled %}
    <div id="zimbra_block_id" class="d-flex justify-content-between mb-2 align-items-center"> 
      <div id="zimbra_block_agenda_id" class="col-4 shadow-sm h-100 d-flex justify-content-center"></div>   
      <div id="zimbra_block_mail_id" class="col-8 h-100 shadow-sm"></div> 
    </div>
    {% endif %}
    <!-- ============================================================== -->

    <!-- ==================== Block Lemon Apps ================== --> 
    {% if lemon_enabled and lemonBlockId %}
      <div id="lemon_block_id"></div>
    {% endif %}
    <!-- ============================================================== -->

    <!-- ==================== Block Pastell Documents ================== -->
    {% if pastell_enabled or nextcloud_enabled %}
      <div id="document_recent_id"></div>
    {% endif %}
    <!-- ============================================================== -->

    <!-- ==================== Block HumHUB ================== -->
    {% if humhub_enabled %} 
      <div id="humhub_block"></div>
    {% endif %}
    <!-- ============================================================== -->

    <!-- ==================== Block Post-IT ================== -->
    {% if post_it_enabled %} 
    <div id="postit_block_id">
      <div class="card">
        <div class="card-header rounded-top bg-white rounded-top d-flex justify-content-between align-items-center">
            <h4 class="card-title text-dark py-2">Tableau Post-it</h4>
              <button class="btn_collapse" style="font-size=12px;" data-bs-toggle="collapse" data-bs-target="#post_it_dashboard" aria-expanded="false" aria-controls="post_it_dashboard">
                -
            </button>
        </div>
        <div class="card-body" id="post_it_dashboad">
            <div class="post_it_form">
                <form id="myForm">
                    <div class="input-group">
                        <span class="input-group-text">Message</span>
                        <textarea class="form-control no-resize" aria-label="message" id="message" name="message"></textarea>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Couleur du post-it</span>
                        <input type="color" id="color" name="color" value="#FFFFFF">
                    </div>
                    <button type="submit" id="submit_post_it" >Créer un post-it</button>
                </form>
                <button id="delete-button">Tout supprimer</button>
            </div>
            <div id="post_it_dashboard" class="collapse"></div>
            
        </div>
    </div>
    </div>
    {% endif %}
    <!-- ============================================================== -->

    <!-- ==================== Guide Utilisateurs ================== -->
    {% if guide_utilisateur_enabled and guide_on_desktop %} 
      <div id="guide_utilisateur"></div>
    {% endif %}
        
  </div>
  
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->
  {% include '@pleiadebv/templates/layout/parts/footer.html.twig' %}
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
</div>

<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->



